.vscode
.github
node_modules

tmp
test
src
docs
dist/test

gqlschema.gql

**/*.spec.ts
**/*.spec.d.ts
**/*.spec.js
**/*.js.map

.eslintrc.js
.prettierrc
nest-cli.json
tsconfig.tsbuildinfo
tsconfig.json
tsconfig.build.json
.dependency-cruiser.js
dependency-graph.html