{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "*.yaml",
                "*.yml",
                "*.json"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}